@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body{
        @apply bg-bg w-full h-full;
    }
  ::-webkit-scrollbar {
    width: 5px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #393a41;
  }

  ::-webkit-scrollbar-thumb {
    background: #272832;
    border-radius: 5px;
    height: 5px;
    
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #686868;
  }
}
